ibmcloud_api_key = "<ibmcloud_api_key>"
region           = "us-south"
prefix           = "<prefix>"


bastion_sg_ssh_allowed_ips = [
  {
    name          = "ANY"
    cidr          = "0.0.0.0/0"
  }
]
