ibmcloud_api_key = "<ibmcloud_api_key>"
region           = "us-south"
zone             = "us-south-3"

# A prefix that is prepended to various resources
prefix = "<prefix>"

# The name of your VPC
vpc_name = "<prefix>-vpc"

# The name of a subnet within the zone. If you used
subnet_name = "<prefix>-us-south-3-sn"

# List of SSH key names that you would like to have added to
# the instances.
ssh_key_names = []


#
# daos_admin module variables
#

admin_instance_base_name   = "<prefix>-daos-admin"
admin_security_group_names = ["<prefix>-bastion-sg"]


#
# daos_server module variables
#

server_instance_count     = 1
server_instance_base_name = "<prefix>-daos-server"
server_enable_bare_metal  = true

server_instance_profile_name_bare_metal = "cx2-metal-96x192"
server_image_id_bare_metal              = "r006-e12ede30-8e78-4dfb-a9b4-292dd6d98086" # ibm-sles-15-3-amd64-sap-hana-4 sles-15-sp3-amd64-sap-hana

server_instance_profile_name_vm = "bx2-2x8"
server_os_image_name_vm         = "ibm-rocky-linux-8-6-minimal-amd64-4"

server_security_group_names = ["<prefix>-instance-sg"]

#
# daos_server module variables
#

client_instance_count        = 1
client_instance_profile_name = "bx2-2x8" # See https://cloud.ibm.com/docs/vpc?topic=vpc-profiles
client_instance_base_name    = "<prefix>-daos-client"
client_os_image_name         = "ibm-rocky-linux-8-6-minimal-amd64-4"
